#another try making this work
#previously gitignore was not working properly
# JAI SHREE RAM 

#temp files for testing purposes
temp.cpp
test.cpp
tempcoderunner.cpp

#for input,output & cerr files
*.txt

#executable binary files
*.exe

#VS-CODE files
*code-workspace
.vscode/
./vscode


# it works ;)